/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

body {
    background-color: gray;
    margin: 0;
}

#top-container, #game-container, .game-canvas {
    text-align: center;
}
.game-canvas {
    background-color: #fff;
}